.aboutSection {
    display: flex;
    justify-content: center;
    padding: 64px 0px;
    border-bottom: 1px solid #DDDDDD; 
    background-color: #F7F9FB;
}

.aboutContent {
    width: 66%;
    color: #333333;
}

.aboutHeading {
    text-align: center;
    font-size: 32px;
}

.aboutDivider {
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border-bottom: 3px solid #8FC1E3;
}

.aboutParagraph {
    font-size: 24px;
    line-height: 1.5;
    margin-top: 32px;
}

@media(max-width: 900px) {
    .aboutContent {
        width: 90%;
    }
    .aboutParagraph {
        font-size: 16px;
    }
}