.contactSection {
    display: flex;
    justify-content: center;
    padding: 64px 0px;
    background-color: #555555;
}

.contactContent {
    text-align: center;
    width: 66%;
    color: #F7F9FB;
}

.contactHeading {
    font-size: 32px;
}

.contactDivider {
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border-bottom: 3px solid #8FC1E3;
}

.contactParagraph {
    font-size: 24px;
    margin-top: 32px;
}

/*
.contactLinks {
}
*/

.contactItem {
    display: block;
    text-decoration: none;
    font-size: 24px;
    margin-top: 32px;
    color: #FFFFFF;
}