.projectsSection {
    display: flex;
    justify-content: center;
    padding: 64px 0px;
    background-color: #EEEEEE;
}

.projectsContent {
    width: 66%;
}

.projectsHeading {
    text-align: center;
    font-size: 32px;
    color: #333333;
}

.projectsDivider {
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    border-bottom: 3px solid #8FC1E3;
}

.projectsContainer {
    margin-top: 48px;
}

.projectsTemplate {
    display: grid;
    grid-template-columns: 33% 66%;
    margin-top: 48px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #F7F9FB;
}

/*
.projectsImage {
    background-color: #333333;
}
*/

.projectsText {
    padding: 48px;
    color: #333333;
}

.projectsDescription {
    line-height: 1.5;
    margin-top: 32px;
}

.projectsSkills {
    margin-top: 32px;
}

.projectsSkill {
    display: inline-block;
    margin-right: 8px;
    padding: 4px;
    border: 2px solid #5CDB95;
    border-radius: 4px;
}

.projectsLinks {
    margin-top: 32px;
}

.projectsLiveDemo {
    text-decoration: none;
    margin-right: 16px;
    padding: 12px;
    border-radius: 4px;
    color: #F7F9FB;
    background-color: #5085A5;
}

.projectsLiveDemo:hover {
    background-color: #8FC1E3;
    transition-duration: 0.25s;
}

.projectsRepository {
    text-decoration: none;
    padding: 12px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #5085A5;
    background-color: #F7F9FB;
}

.projectsRepository:hover {
    background-color: #FFFFFF;
    transition-duration: 0.25s;
}