html {
    scroll-behavior: smooth;
}

body, div, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Karla', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

i {
    margin-right: 8px;
}

.navbar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    z-index: 3;
    top: 0px;
    background-color: #31708E;
}

.navbar.active {
    background-color: #333333;
    transition-duration: 0.5s;
}

.navItems {
    width: 66%;
}

.navItem {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 16px;
    color: #F7F9FB;
}

.navItem:hover {
    text-decoration: underline;
    transition-duration: 0.25s;
}

@media(max-width: 900px) {
    .navItems {
        text-align: center;
    }
}